
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  background-color: #111;
  color: #ddd;
}

body {
  font-family: Montserrat,sans-serif;
}

main {
  text-align: left;
  padding: 50px 35%;
}

h2 {
  font-weight: 700;
  padding-top: 150px;
}

p {
  /* font-size: 12px; */
}

footer {
  padding: 0px;
  margin: 10px 0px;
  text-align: center;
  display: block;
  font-size: .6em;
}
