:root {
	--background-colour: #292d34;
}

body,
html {
	background-color: var(--background-colour);
	font-family: "Inconsolata", monospace;
	color: #9da39d;
	font-size: 40px;
}

pre {
  color: #9da39d;
}

input{
  z-index: 1;
}

input:focus{
  z-index: -1;
}

.autocomplete,
.autocomplete:focus,
input {
  display: inline-flex;
	border: 0px solid transparent;
  outline: none;
	background-color: #292d34;
	margin: 0px;
	padding: 0px;
	color: #0398fc;
	transition: none;
  box-shadow: none;
  width: auto;
}

.dropdown-menu {
  background: #292d34;
  filter: brightness(77%);
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

.item {
  background: #292d34;
  padding: 0px;
  color: #9da39d;
}

li.item:hover{
  filter: brightness(77%);
}

li, a{
  color: #9da39d;
}

li,a:hover{
  color:#9da39d;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
	filter: brightness(77%);
}

ul {
  display: block;
  top: 87px;
}

/* width */

::-webkit-scrollbar {
	width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
	border-radius: 10px;
  background: inherit;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background: #616469;
	border-radius: 50px;
}

.str {
	color: #90b061;
}

.var {
	color: #c16266;
}

.key {
	color: #9f3acf;
}

.class {
	color: #fab44b;
}

.func {
	color: #0398fc;
}

.values {
	color: #be8a59;
}

.ibfunc {
	color: #2dacba;
}

.comment {
	color: #616469;
	font-style: italic;
}


/* Desktop only */

.mobile_device_720 {
	display: none;
	font-size: 15px;
	.form-control {
		font-size: 15px;
	}
}


/* if mobile device width 720px */

@media only screen and (max-device-width: 720px) {
	.mobile_device_720 {
		display: inline-block;
	}
	.desktop {
		display: none;
	}
}
