:root {
  --background-colour: #292d34;
}

body,
html {
  background-color: var(--background-colour);
  font-family: "Inconsolata", monospace;
  color: #9da39d;
  font-size: 40px;
}
/*
.autocomplete {
	position: relative;
	display: flex;
	flex-direction: column;
  border: none;
}

.autocomplete-items {
	border: 1px solid rgba(0,0,0,.1);
	margin-top: .5rem;

	> div {
		cursor: pointer;
		font-size: 1.2rem;
		transition: background .25s ease;
		padding: .5rem 1rem;

		&:hover {
			background: rgba(0,0,0,.1);
		}

		+ div {
			margin-top: .5rem;
		}
	}
}

.el {
	font-size: inherit;
}

*/

[contenteditable],
[contenteditable]:focus {
  outline: 0px solid transparent;
}
#project[contenteditable]:not(:focus):after {
  content: "|";
  animation: blink 1s infinite linear;
  margin: 0px;
  padding: 0px;
}
@keyframes blink {
  0%,
  50% {
    opacity: 0;
  }
  51%,
  100% {
    opacity: 1;
  }
}

a {
  color: inherit;
}

a:hover {
  filter: brightness(77%);
}

.str {
  color: #90b061;
}

.var {
  color: #c16266;
}

.key {
  color: #b81fff;
}

.class {
  color: #fab44b;
}

.func {
  color: #0398fc;
}

.values {
  color: #be8a59;
}

.ibfunc {
  color: #2dacba;
}

/* Desktop only */
.mobile_device_720 {
  display: none;
  font-size: 15px;
}

/* if mobile device width 720px */
@media only screen and (max-device-width: 720px) {
  .mobile_device_720 {
    display: inline-block;
  }
  .desktop {
    display: none;
  }
}
